In [19]:
# Creating strings - Single Quote
'Creating strings through a single quote'

'Creating strings through a single quote'

In [6]:
# Creating strings - Double Quote
"Creating strings through the double quote"

'Creating strings through the double quote'

In [8]:
# Be careful by using quotes
'I'm using a single quote for this'

SyntaxError: unterminated string literal (detected at line 2) (331575280.py, line 2)

In [25]:
"I'm using a combination of double and single quotes"

"I'm using a combination of double and single quotes"

In [26]:
# Printing Strings - Using Jupyter notebook with just a string in a cell will automatically output strings, 
# but the correct way to display strings in your output is by using a print function.

print("Seventeen")

Seventeen

In [13]:
# Removing Space from a String - Using replace()
def remove(string):
    return string.replace(" ", "")

string = ' S V T '
print(remove(string))

SVT

In [27]:
# Removing Space from a String - Using isspace()
def remove(string):
	ns=""
	for i in string:
		if(not i.isspace()):
			ns+=i
	return ns 

string = ' JE O NG H A N'
print(remove(string))

JEONGHAN

In [28]:
# Python String Methods - .capitalize() 
svt = "seventeen"
print(svt.capitalize())

Seventeen

In [29]:
greet = "say the name!"
print(greet.upper())

SAY THE NAME!

In [30]:
txt = "We drop it like hot, hot, hot Oh, we feelin' so hot"
x = txt.count("hot", 19)

print(x)

3

In [31]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!